.about-page {

    .wp-license {
        font-size: 9.5pt;

        h1, h2, h3, h4, h5, h6, p {
            margin: 6pt 0pt 0pt 18pt;
        }

        li {
            margin-top: 6pt;
            margin-bottom: 0pt;
        }

        h1 {
            margin-top: 6pt;
            margin-left: 17.85pt;
            margin-bottom: 0pt;
            text-indent: -17.85pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: bold;
        }

        h2 {
            margin-top: 6pt;
            margin-left: 36pt;
            margin-bottom: 0pt;
            text-indent: -18.15pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: bold;
        }

        h3 {
            margin-top: 6pt;
            margin-left: 53.85pt;
            margin-bottom: 0pt;
            text-indent: -17.85pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: normal;
        }

        h4 {
            margin-top: 6pt;
            margin-left: 71.75pt;
            margin-bottom: 0pt;
            text-indent: -17.9pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: normal;
        }

        h5 {
            margin-top: 6pt;
            margin-left: 89.6pt;
            margin-bottom: 0pt;
            text-indent: -17.85pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: normal;
        }

        h6 {
            margin-top: 6pt;
            margin-left: 107.45pt;
            margin-bottom: 0pt;
            text-indent: -17.85pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: normal;
        }

        .Heading7 {
            margin-top: 6pt;
            margin-left: 125.3pt;
            margin-bottom: 0pt;
            text-indent: -17.85pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: normal;
        }

        .Heading8 {
            margin-top: 6pt;
            margin-left: 143.15pt;
            margin-bottom: 0pt;
            text-indent: -17.85pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: normal;
        }

        .Heading9 {
            margin-top: 6pt;
            margin-left: 161.05pt;
            margin-bottom: 0pt;
            text-indent: -17.9pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: normal;
        }

        .AdditionalSoftware {
            margin-bottom: 0pt;
            line-height: 12pt;
            font-family: 'Trebuchet MS';
            font-size: 9pt;
        }

        .BalloonText {
            margin-top: 6pt;
            margin-left: 18pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 8pt;
        }

        .Body0 {
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Body0Bold {
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: bold;
        }

        .Body1 {
            margin-top: 6pt;
            margin-left: 17.85pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Body2 {
            margin-top: 6pt;
            margin-left: 36pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Body2Underline {
            margin-top: 6pt;
            margin-left: 36pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            text-decoration: underline;
        }

        .Body3 {
            margin-top: 6pt;
            margin-left: 53.85pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Body3Underline {
            margin-top: 6pt;
            margin-left: 53.85pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            text-decoration: underline;
        }

        .Body4 {
            margin-top: 6pt;
            margin-left: 71.75pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Body5 {
            margin-top: 6pt;
            margin-left: 90.15pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Body6 {
            margin-top: 6pt;
            margin-left: 108pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Body7 {
            margin-top: 6pt;
            margin-left: 125.3pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Body8 {
            margin-top: 6pt;
            margin-left: 143.15pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Body9 {
            margin-top: 6pt;
            margin-left: 161.05pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .BodyText2 {
            margin-top: 6pt;
            margin-left: 18pt;
            margin-bottom: 0pt;
            line-height: 200%;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .BodyTextIndent {
            margin-top: 6pt;
            margin-left: 18pt;
            margin-bottom: 0pt;
            line-height: 200%;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Bullet1 {
            margin-top: 6pt;
            margin-left: 17.85pt;
            margin-bottom: 0pt;
            text-indent: -17.85pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Bullet2 {
            margin-top: 6pt;
            margin-left: 36pt;
            margin-bottom: 0pt;
            text-indent: -18.15pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Bullet3 {
            margin-top: 6pt;
            margin-left: 53.85pt;
            margin-bottom: 0pt;
            text-indent: -17.85pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Bullet3Underline {
            margin-top: 6pt;
            margin-left: 0pt;
            margin-bottom: 0pt;
            text-indent: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            text-decoration: underline;
        }

        .Bullet3Underlined {
            margin-top: 6pt;
            margin-left: 53.85pt;
            margin-bottom: 0pt;
            text-indent: -17.85pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            text-decoration: underline;
        }

        .Bullet4 {
            margin-top: 6pt;
            margin-left: 71.75pt;
            margin-bottom: 0pt;
            text-indent: -17.9pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Bullet4Italics {
            margin-top: 6pt;
            margin-left: 71.75pt;
            margin-bottom: 0pt;
            text-indent: -17.9pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            font-style: italic;
        }

        .Bullet4Underline {
            margin-top: 6pt;
            margin-left: 71.75pt;
            margin-bottom: 0pt;
            text-indent: -17.9pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            text-decoration: underline;
        }

        .Bullet4Underlined {
            margin-top: 6pt;
            margin-left: 71.75pt;
            margin-bottom: 0pt;
            text-indent: -17.9pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            text-decoration: underline;
        }

        .Bullet5 {
            margin-top: 6pt;
            margin-left: 89.6pt;
            margin-bottom: 0pt;
            text-indent: -17.85pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Bullet6 {
            margin-top: 6pt;
            margin-left: 107.45pt;
            margin-bottom: 0pt;
            text-indent: -17.85pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Bullet7 {
            margin-top: 6pt;
            margin-left: 125.3pt;
            margin-bottom: 0pt;
            text-indent: -17.85pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Bullet8 {
            margin-top: 6pt;
            margin-left: 143.15pt;
            margin-bottom: 0pt;
            text-indent: -17.85pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Bullet9 {
            margin-top: 6pt;
            margin-left: 161.05pt;
            margin-bottom: 0pt;
            text-indent: -17.9pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Char {
            margin-top: 0pt;
            margin-left: 18pt;
            margin-bottom: 8pt;
            line-height: 12pt;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .CharCharCharChar {
            margin-top: 0pt;
            margin-left: 18pt;
            margin-bottom: 8pt;
            line-height: 12pt;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .CharCharCharChar1 {
            margin-top: 0pt;
            margin-left: 18pt;
            margin-bottom: 8pt;
            line-height: 12pt;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .CommentSubject {
            margin-top: 6pt;
            margin-left: 18pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 10pt;
            font-weight: bold;
        }

        .CommentText {
            margin-top: 6pt;
            margin-left: 18pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .EndnoteText {
            margin-top: 6pt;
            margin-left: 18pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Footer {
            margin-top: 6pt;
            margin-left: 18pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .FootnoteText {
            margin-top: 6pt;
            margin-left: 18pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Header {
            margin-top: 6pt;
            margin-left: 18pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Heading1Warranty {
            margin-top: 6pt;
            margin-left: 18pt;
            margin-bottom: 0pt;
            text-indent: -18pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Heading2Warranty {
            margin-top: 6pt;
            margin-left: 36pt;
            margin-bottom: 0pt;
            text-indent: -18pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .Heading3Bold {
            margin-top: 6pt;
            margin-left: 53.85pt;
            margin-bottom: 0pt;
            text-indent: -17.85pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: bold;
        }

        .HeadingEULA {
            margin-top: 6pt;
            margin-left: 18pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 14pt;
            font-weight: bold;
        }

        .HeadingFrenchWarranty {
            margin-top: 6pt;
            margin-left: 18pt;
            margin-bottom: 0pt;
            text-indent: -18pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .HeadingSoftwareTitle {
            margin-top: 6pt;
            margin-left: 18pt;
            margin-bottom: 0pt;
            line-height: normal;
            border-bottom-style: solid;
            border-bottom-width: 0.75pt;
            border-bottom-color: #000000;
            padding-bottom: 1pt;
            font-family: Tahoma;
            font-size: 14pt;
            font-weight: bold;
        }

        .HeadingWarranty {
            margin-top: 6pt;
            margin-left: 18pt;
            margin-bottom: 0pt;
            text-align: center;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: bold;
        }

        .LIMPAT4WINEXTERNAL {
            margin-top: 0pt;
            margin-left: 18pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 6.67pt;
            font-weight: bold;
            vertical-align: super;
        }

        .ListParagraph {
            margin-top: 6pt;
            margin-left: 36pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: bold;
        }

        .NormalWeb {
            margin-top: 5pt;
            margin-left: 18pt;
            margin-bottom: 5pt;
            line-height: normal;
            font-family: 'Times New Roman';
            font-size: 12pt;
        }

        .Preamble {
            margin-top: 6pt;
            margin-left: 18pt;
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: bold;
        }

        .PreambleBorder {
            margin-top: 6pt;
            margin-left: 18pt;
            margin-bottom: 0pt;
            line-height: normal;
            border-bottom-style: solid;
            border-bottom-width: 0.75pt;
            border-bottom-color: #000000;
            padding-bottom: 1pt;
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: bold;
        }

        .PreambleBorderAbove {
            margin-top: 6pt;
            margin-left: 18pt;
            margin-bottom: 0pt;
            line-height: normal;
            border-top-style: solid;
            border-top-width: 0.75pt;
            border-top-color: #000000;
            padding-top: 1pt;
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: bold;
        }

        .Revision {
            margin-bottom: 0pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        .StyleHeading3BoldAsianTimesNewRoman95pt {
            margin-top: 6pt;
            margin-left: 53.85pt;
            margin-bottom: 0pt;
            text-indent: -17.85pt;
            line-height: normal;
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: normal;
        }

        span.BalloonTextChar {
            font-family: Tahoma;
            font-size: 8pt;
        }

        span.Body0BoldChar {
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: bold;
        }

        span.Body1Char {
            font-family: Tahoma;
        }

        span.Body2Char {
            font-family: Tahoma;
        }

        span.Body3Char {
            font-family: Tahoma;
        }

        span.Body3CharCarCarCarCarCarCarCarCarCarCarCarCarCarCarCarCarCarCarCarCarCarCarCarCar {
            font-family: Tahoma;
        }

        span.Body4Char {
            font-family: Tahoma;
        }

        span.BodyText2Char {
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        span.BodyTextIndentChar {
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        span.Bullet3Char1 {
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        span.CharChar {
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        span.CharChar1 {
            font-family: 'Trebuchet MS';
            font-size: 12pt;
            font-weight: bold;
        }

        span.Hyperlink, span.CharChar7 {
            text-decoration: underline;
            color: #0000ff;
        }

        span.CommentReference {
            font-size: 8pt;
        }

        span.CommentSubjectChar {
            font-family: Tahoma;
            font-size: 10pt;
            font-weight: bold;
        }

        span.CommentTextChar {
            font-family: Tahoma;
            font-size: 10pt;
        }

        span.DONOTTRANSLATE {
            font-family: 'Courier New';
            color: #800000;
        }

        span.EndnoteReference {
            vertical-align: super;
        }

        span.EndnoteTextChar {
            font-family: Tahoma;
            font-size: 10pt;
        }

        span.FooterChar {
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        span.FootnoteReference {
            vertical-align: super;
        }

        span.FootnoteTextChar {
            font-family: Tahoma;
            font-size: 10pt;
        }

        span.HeaderChar {
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        span.Heading1Char {
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: bold;
        }

        span.Heading2Char {
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: bold;
        }

        span.Heading2Char1 {
            font-family: 'Trebuchet MS';
            font-weight: bold;
        }

        span.Heading3BoldChar {
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: bold;
        }

        span.Heading3Char {
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        span.Heading4Char {
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        span.Heading5Char {
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        span.Heading6Char {
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        span.Heading7Char {
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        span.Heading8Char {
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        span.Heading9Char {
            font-family: Tahoma;
            font-size: 9.5pt;
        }

        span.LIMPAT4WINEXTERNALChar {
            font-family: Tahoma;
            font-size: 6.67pt;
            font-weight: bold;
            vertical-align: super;
        }

        span.PreambleChar {
            font-family: Tahoma;
            font-weight: bold;
        }

        span.Strong {
            font-weight: bold;
        }

        span.StyleHeading3BoldAsianTimesNewRoman95ptChar {
            font-family: Tahoma;
            font-size: 9.5pt;
            font-weight: normal;
        }

        span.tw4winError {
            font-family: 'Courier New';
            font-size: 20pt;
            color: #00ff00;
        }

        span.tw4winExternal {
            font-family: 'Courier New';
            color: #808080;
        }

        span.tw4winInternal {
            font-family: 'Courier New';
            color: #ff0000;
        }

        span.tw4winJump {
            font-family: 'Courier New';
            color: #008080;
        }

        span.tw4winMark {
            font-family: 'Courier New';
            font-size: 8pt;
            vertical-align: sub;
            color: #800080;
            display: none;
        }

        span.tw4winPopup {
            font-family: 'Courier New';
            color: #008000;
        }

        span.tw4winTerm {
            color: #0000ff;
        }
    }
}
