$light-green: #69BE28;
$light-gray: #E9E9E9;
$light-blue: #A9CBE4;
$bright-red: #B00015;
$bright-gold: #FCC000;
$dark-blue: #0A2B44;
$darker-blue: #004C9A;

$input-select-color: #EEF2F5;

$readonly-color: #F8F8F8;

$disabled-color: graytext;

$session-list-background-color: #CDEBB7;